 <footer id="sticky-footer" class="footer">
    <div class="container text-center pt-4 pb-4">
    <p><img src="https://i.imgur.com/V9qoSXt.png?2" height="48" width="48">: Centros gratuítos para toma de examen de VIH</p>
    <p><img src="https://i.imgur.com/GjIjALH.png" height="48" width="48">: Centros gratuítos para obtener pastilla PrEP</p>
      <h5>Testie &copy;</h5>
    </div>
  </footer>

  