<% if user_signed_in? %>
<div class="row menu container">
    <div class="col-sm-6 mb-3">
      <div class="card my-tests">
           <a href="<%= tests_path %>" class="btn btn-fix text-left">
              <div class="card-block ">
                    <h2 class="card-title text-dark ">Mis tests</h2>
                    <img class="card-img-top " src="https://i.imgur.com/YN0kZ8E.png" alt="Card image cap height="400"">
                    <p>Aquí puedes guardar el registro de cada uno de tus tests.</p>
              </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="card my-map">
           <a href="<%= home_map_path %>" class="btn btn-fix text-left">
                <div class="card-block ">
                    <h2 class="card-title text-dark ">Centros</h2>
                    <img class="card-img-top" src="https://i.imgur.com/OxbILbc.png" alt="Card image cap"  height="400">
                    <p>En este mapa puedes ver los centros y/o instituciones que ofrecen tanto la pastilla PrEP, como tests rápidos de VIH.</p>
                </div>
            </a>
        </div>
    </div>
</div>
<% else %>

<div class=" menu container welcoming">
        <div class="col col-md-auto ">
            <h2><i class="fas fa-street-view nav-icon fa-5x ml-5">!</i></h2>
            <p><strong>Bienvenido a XXXX</strong></p>
            <p>Aquí tendrás la oportunidad de registrar tus tests y encontrar centros y/o instituciones cercanos.</p>
            <p><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:"btn btn-outline-primary welcoming-btn" %></p>
			<p><%= link_to 'Crear una cuenta', new_user_registration_path, class:"btn btn-outline-dark welcoming-btn" %></p>
        </div>

</div>
<% end %>