<% if user_signed_in? %>
<div class="myhome">
<br>
    <div class='container'>
        <div class="row menu container mt-5">
            <div class="col-sm-6 mb-3">
            <div class="card app-body">
                <a href="<%= tests_path %>" class="btn btn-fix text-left">
                    <div class="card-block ">
                            <h2 class="card-title text-dark ">Mis tests</h2>
                            <p><i class="fas fa-archive fa-7x home-icons"></i></p>
                            <p>Guarda el registro de cada uno de tus tests rápidos de VIH.</p>
                            
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
            <div class="card app-body">
                <a href="<%= centres_index_path %>" class="btn btn-fix text-left">
                        <div class="card-block ">
                            <h2 class="card-title text-dark ">Centros</h2>
                            <p><i class="fas fa-hospital-alt fa-7x home-icons"></i></p>
                            <p>Busca centros que ofrecen PrEP y tests rápidos de VIH gratuitos.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<% else %>

<div class=" menu container welcoming mt-5 pt-3 pb-3">
        <div class="col col-md-auto ">
            <p><i class="fas fa-street-view nav-icon fa-5x"></i></p>
            <p><strong>Bienvenido a Testie</strong></p>
            <p>Aquí tendrás la oportunidad de registrar tus tests y encontrar centros y/o instituciones en tu ciudad.</p>
            <p><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:"btn btn-outline-primary welcoming-btn" %></p>
			<p><%= link_to 'Crear una cuenta', new_user_registration_path, class:"btn btn-outline-dark welcoming-btn" %></p>
        </div>
</div>
<% end %>

