<div class=" menu container welcoming mt-5 pt-3 pb-3 mb-5">
        <div class="col col-md-auto ">
            <h2>Referencias</h2>
            <p><strong>Información sobre Centros y Hospitales: </strong></p>
            <p>https://saludresponde.minsal.cl/</p>
            <p><strong>Ilustraciones: </strong></p>
            <p>https://saludresponde.minsal.cl/</p>
        </div>
</div>