<div class=" menu references container welcoming mt-5 pt-3 pb-3 px-4 mb-5">
        <div class="col col-md-auto ">
            <h2>Referencias</h2>
            <p><strong>Información sobre Centros y Hospitales: </strong></p>
            <p><small>https://saludresponde.minsal.cl</small></p>
            <p><strong>Ilustraciones: </strong></p>
            <p><small>https://saludresponde.minsal.cl</small></p>
        </div>
</div>