<div class="myhome">
    <div class="search">
    <p>Buscador:</p>
    <input name="q">
</div>
    <br>
    <br>
    <br>
    <br>
    <div class="container table-centres mt-5 mb-5">
        <h2>Centros</h2>
        <div id="centres">
            <table class="table table-responsive">
                <thead>
                    <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @centres %>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>


