/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
    position: relative;
    min-height: 100%;
}


.nav-icon {
    color: rgb(86, 191, 233);
}
.navbar_color {
    background-color: rgb(255, 255, 255);
    opacity: 0.99;
}

.button-login {
    background-color: rgb(182, 61, 101);
}
.button-signup {
    background-color: rgb(83, 102, 204);
}

.new-test {
    background-color:rgb(86, 191, 233);
}

.nav_button {
    color: rgb(54, 54, 54);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.nav_button:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.all_buttons {
    border: none;
    padding: 10px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 0px;
}

body {
    font-family: 'Tajawal', sans-serif;
    background-image: url("https://i.imgur.com/M3Hl7L8.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0 0 100px;
}

.menu p, h2 {
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.99;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(54, 54, 54);
    display: block;
    transition: 0.3s;
}
.sidebar_link {
    font-size: 20px !important;
}
.sidebar_link:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.25);
}

.sidebar a:hover {
    color: rgb(86, 191, 233);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

.openbtn {
    outline: none !important;
    font-size: 35px;
    cursor: pointer;
    background-color: Transparent;
    color: rgb(54, 54, 54);
    border: none;
    border-radius: 40%;
    padding: 0%;
    margin: 0%;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

#main {
    transition: margin-left .2s;
}
.welcoming p {
    color: rgb(54, 54, 54);
}
.welcoming {
    background-color: rgb(255, 251, 251);
    width: 65%;
    opacity: 0.9;
}

.app-body {
    background-color: rgb(255, 255, 255);
    border: none;
}

.app-body:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.session-box {
    opacity: 0.9;
}

.map-content {
    width: 100%;
    height: 90%;
    position: fixed;
    background: #eee;
    padding: 0;
}

.app-test {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    padding-top:2%;
    padding-bottom:2%;
}

.myhome {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    background-size: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 10%;
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 210px;
    width: 100%;
    overflow: hidden;
}
.home-icons:hover{
    color: rgb(86, 191, 233);
}

.alerts {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    background-size: 100%;
    margin: 0;
    text-align: center;
}

.welcoming-btn {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.welcoming-btn:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.test-form {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    max-width: 35%;
}