
<h1>Mis tests</h1>
<table class="table"> 
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>      
      <%= render @tests %>
  </tbody>
</table>

  <%= render 'form', test: @test %>

<br>
<%= link_to '| New Test |', new_test_path, class:"btn btn-white" %> <br><br>
<p><%= link_to '| Home |', root_path, class:"btn btn-white" %> </p>

