<div class="card container session-card  text-dark" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Nuevo test</h3>
      <p class="card-text"><%= render 'form', test: @test %></p>
    </div>
</div>

<p><%= link_to '|Volver|', tests_path, class:"btn btn-white all_buttons" %></p>
